/* root background */
.App {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #282c34;
}

/* Header */
.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #61dafb;
  width: 90%;
  margin: auto;
  height: 10vh;
}

/* HOMEPAGE: Dashboard */
.Dashboard-Container {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: aliceblue;
  position: relative;
  height: 40vh;
  width: 90%;
  margin: auto;
}

.Dashboard-Item {
  margin: auto;
  border: 3px solid #282c34;
  height: 90%;
  width: 90%;
  align-items: center;
}

.Add-Card {
  top: 40%;
  position: relative;
}

/* HOMEPAGE: Groups */
.Groups-Container {
  display: flex;
  flex-direction: row;
  background-color: blue;
  position: relative;
  height: 50vh;
  width: 90%;
  margin: auto;
}

.Groups-Item {
  border: 3px solid #282c34;
  align-items: center;
  width: 15vh;
  height: 15vh;
  margin: 1vh;
}

.Groups-Name-Form {
  position: relative;
  width: 90%;
  border-radius: 4px;
  box-sizing: border-box;
}

/* GROUP PAGE: default container */
.Group-Page-Containers-Container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 80%;
}

.Group-Page-Containers {
  position: relative;
  margin: auto;
  height: 90%;
  width: 40%;
  border: 3px solid #61dafb;
  display: flex;
  flex-direction: column;
}

.Group-Page-Device-btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}